* {
  padding: 0%;
  margin: 0%;
}
html {
  background-color: #181f2a;
  color: #fff;
}
html h1,
html h2,
html h3,
html h4,
html h5 {
  font-family: "Roboto Condensed", sans-serif;
}
.blockPersonalInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2rem;
}
.blockPersonalInfo .blockPersonalInfo__image {
  margin-left: 1rem;
  margin-top: 1rem;
}
.blockPersonalInfo .blockPersonalInfo__image img {
  width: 8rem;
  border: 1px solid #242e42;
}
.blockPersonalInfo .blockPersonalInfo__title {
  grid-column-start: 2;
  grid-column-end: 6;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.8rem;
  letter-spacing: 1px;
}
.blockPersonalInfo
  .blockPersonalInfo__title
  .blockPersonalInfo__title-name:after {
  content: "";
  display: block;
  width: 12rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}
.blockPersonalInfo .blockPersonalInfo__title .blockPersonalInfo__title-name {
  padding-bottom: 0.5rem;
}
.blockPersonalInfo
  .blockPersonalInfo__title
  .blockPersonalInfo__title-position {
  padding-bottom: 24px;
}
.blockPersonalInfo .blockPersonalInfo__resume {
  grid-column-start: 1;
  grid-column-end: 6;
  margin-top: 1.5rem;
  padding: 0rem 2rem 0rem 2rem;
  letter-spacing: 0.7px;
  text-align: left;
  line-height: 1.5rem;
}
.blockPersonalInfo
  .blockPersonalInfo__resume
  .blockPersonalInfo__resume-content {
  font-family: "Roboto", sans-serif;
}
.blockTecnologies {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 3.5rem;
  grid-gap: 1rem;
  font-family: "Roboto", sans-serif;
}
.blockTecnologies .blockTecnologies__frontEnd {
  display: grid;
  background-color: #242e42;
  border-radius: 20px;
}
.blockTecnologies
  .blockTecnologies__frontEnd
  .blockTecnologies__fronEnd-header {
  padding-top: 12px;
  text-align: center;
}
.blockTecnologies .blockTecnologies__frontEnd .blockTecnologies__fronEnd-logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.blockTecnologies .blockTecnologies__frontEnd .blockTecnologies__frontEnd-list {
  list-style-type: none;
  text-align: center;
  letter-spacing: 1px;
}
.blockTecnologies
  .blockTecnologies__frontEnd
  .blockTecnologies__frontEnd-list
  li {
  margin-bottom: 0.4rem;
}
.blockTecnologies .blockTecnologies__backEnd {
  display: grid;
  background-color: #242e42;
  border-radius: 20px;
}
.blockTecnologies .blockTecnologies__backEnd .blockTecnologies__backEnd-header {
  padding-top: 12px;
  text-align: center;
}
.blockTecnologies .blockTecnologies__backEnd .blockTecnologies__backEnd-logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.blockTecnologies .blockTecnologies__backEnd .blockTecnologies__backEnd-list {
  list-style-type: none;
  text-align: center;
  letter-spacing: 1px;
}
.blockTecnologies
  .blockTecnologies__backEnd
  .blockTecnologies__backEnd-list
  li {
  margin-bottom: 0.4rem;
}
.blockTecnologies .blockTecnologies__devTools {
  display: grid;
  background-color: #242e42;
  border-radius: 20px;
}
.blockTecnologies
  .blockTecnologies__devTools
  .blockTecnologies__devTools-header {
  padding-top: 12px;
  text-align: center;
}
.blockTecnologies .blockTecnologies__devTools .blockTecnologies__devTools-logo {
  width: 5rem;
  margin-left: auto;
  margin-right: auto;
}
.blockTecnologies .blockTecnologies__devTools .blockTecnologies__devTools-list {
  list-style-type: none;
  text-align: center;
  letter-spacing: 1px;
}
.blockTecnologies
  .blockTecnologies__devTools
  .blockTecnologies__devTools-list
  li {
  margin-bottom: 0.4rem;
}
.blockProject {
  display: grid;
  padding: 1rem;
  color: #181f2a;
  grid-gap: 3rem;
  margin-bottom: 2rem;
}
.blockProject .blockProject__project {
  background: #fff;
  display: grid;
  width: 100%;
  border-radius: 15px;
}
.blockProject .blockProject__project .blockProject__project-sample {
  display: flex;
}
.blockProject .blockProject__project .blockProject__project-sample img {
  width: 100%;
}
.blockProject .blockProject__project .blockProject__project-header {
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  letter-spacing: 0.8px;
}
.blockProject .blockProject__project .blockProject__project-description {
  font-size: 12px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  text-align: left;
  padding: 0.5rem;
}
.blockProject .blockProject__project .blockProject__project-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}
.blockProject .blockProject__project .blockProject__project-buttons button {
  border: none;
  padding: 1rem;
  background-color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  border-radius: 25px;
}
.blockProject .blockProject__project .blockProject__project-buttons a {
  color: #181f2a;
}
.blockSocials {
  background-color: #242e42;
  padding: 4rem;
  font-family: "Roboto", sans-serif;
}
.blockSocials .blockSocials__icons {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.blockSocials .blockSocials__icons a {
  color: #fff;
}
.blockSocials .blockSocials__mail {
  margin-bottom: 1rem;
}
.blockSocials .blockSocials__mail a {
  color: #339ecc;
  text-decoration: none;
  margin-bottom: 1rem;
}
.blockSocials .blockSocials__phone a {
  text-decoration: none;
  color: #339ecc;
}
@media (min-width: 768px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1024px) {
  .blockPersonalInfo {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 2rem;
  }
  .blockPersonalInfo .blockPersonalInfo__title {
    align-self: flex-start;
    justify-self: end;
    font-size: 28px;
  }
  .blockPersonalInfo .blockPersonalInfo__image {
    margin-left: 44px;
    align-self: flex-start;
  }
  .blockPersonalInfo .blockPersonalInfo__image img {
    width: 10rem;
  }
  .blockPersonalInfo .blockPersonalInfo__resume {
    order: -1;
  }
  .blockTecnologies {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .blockProject {
    margin: 5rem;
  }
  .blockSocials {
    padding: 1rem;
    justify-content: flex-start;
  }
  .blockSocials .blockSocials__icons {
    list-style-type: none;
    margin-left: 5rem;
    margin-right: 5rem;
  }
}
@media (min-width: 1440px) {
  html {
    font-size: 24px;
  }
  .blockProject {
    margin: 4rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 42px;
  }
}
